[viewBag]
snippetCode = "reservation"
snippetName = "Tisch reservieren"
==
{# https://www.opentable.de/widget/reservation/preview?rid=172683 #}
{# <script type='text/javascript' src='//www.opentable.de/widget/reservation/loader?rid=172683&type=standard&theme=tall&iframe=false&overlay=false&domain=de&lang=de-DE'></script>#}
{#<iframe src="https://www.opentable.de/widget/reservation/canvas?rid=172683&type=standard&theme=tall&overlay=false&domain=de&lang=de-DE&r3abvariant=true&r3uid=FwJzMtG--&newtab=false&disablega=false" class="mx-auto d-block align-items-center" width="288" height="490" frameborder="0" scrolling="no"></iframe>#}
{#<iframe src="https://www.opentable.de/r/mahlzeit-am-meer-reservations-cuxhaven?restref=172683&lang=de-DE" class="mx-auto d-block align-items-center" width="600" frameborder="0" scrolling="yes" style="max-width:100%; height:100vh;"></iframe>#}

<load-script src="'//www.opentable.de/widget/reservation/loader?rid=172683&type=standard&theme=tall&iframe=true&overlay=false&domain=de&lang=de-DE'" class="mx-auto d-flex align-items-center justify-content-center"></load-script>
{#<iframe src="https://reservation.gastronaut.ai/mahlzeitammeer" style="width: 100%; min-height: 700px; border: none;"></iframe>#}