description = "Gallery aus den Theme Settings"

[viewBag]
snippetCode = "jumplink-snippet-gallery"
snippetName = "Gallery  (Theme Settings)"
snippetProperties[handle][title] = "handle"
snippetProperties[handle][type] = "string"
snippetProperties[handle][default] = ""
snippetProperties[handle][options][] = ""
==
<?php
// use Debugbar as Debugbar;
use ToughDeveloper\ImageResizer\Classes\Image;

function OnStart() {
    
    $handle = $this->handle;
    $rootPath = realpath(dirname(__FILE__).'/../../..');
    // WORKADOUND
    $rootPath = str_replace('/storage/cms','',$rootPath);
    $mediaPath = Config::get('cms.storage.media.path');
    $fullMediaPath = $rootPath.$mediaPath;
    $this['foundGallery'] = null;
        
    // find image by handle
    foreach ($this->theme->page_historie_galleries as $key => $gallery) {
        if($gallery['handle'] == $handle) {
            // Debugbar::info($gallery);
            // convert images to photoswipe format
            $images = [];
            foreach ($gallery['images'] as $key => $image) {
                $image['src'] = $mediaPath.$image['image'];
                $fullImagePath = $fullMediaPath.$image['image'];
                if (!file_exists($fullImagePath)) {
                    // throw new Exception('File not found '.$fullImagePath);
                } else {
                    try {
                        list($width, $height) = getimagesize($fullImagePath);
                        $image['w'] = $width;
                        $image['h'] = $height;
                    } catch (Exception $e) {
                        throw new Exception('Can not read image '.$fullImagePath);
                    }
                    
                    /**
                     * generate thumbnail
                     * @see https://github.com/toughdeveloper/oc-imageresizer-plugin
                     */
                    $imageObj = new Image($fullImagePath);
                    $imageObj->resize(300, false, [ 'mode' => 'crop' ]);
                    $thumbPath = $imageObj->getCachedImagePath(true);
                    $image['msrc'] = $thumbPath;
                    $image['id'] = $key;
                    $images[] = $image;
                }
            }
            $gallery['images'] = $images;
            
            $this['foundGallery'] = $gallery;
        }
    }
}
?>
==
{% set partialId = 'jumplink-snippet-gallery' %}

<div
    class="jumplink-partial {{partialId}}"
    data-partial-name="{{partialId}}"
>
    {# foundGallery is defined in the code section #}
    {% if foundGallery is null %}
        <div class="container">
            <div class="row">
                <p class="col-12">
                    Gallery with handle <code>{{handle}}</code> not found, please define this gallery in the theme settings of this theme.
                </p>
            </div>
        </div>
    {% else %}
        <gallery
            data="'{{foundGallery | json_encode()}}'"
            images-path="'{{''| media}}'"
            type="'{{foundGallery.type}}'"
        ></gallery>
    {% endif %}
</div>