==
<?php
function onStart() {
    $this['debug'] = Config::get('app.debug');
    try {
      $themePath = themes_path($this->theme->getDirName());
      // Entfernt '../' aus dem Pfad
      $filePath = str_replace('../', '', $this->file);
      // Entfernt den Theme-Namen vom Anfang des Pfads, falls vorhanden
      $filePath = preg_replace('/^' . preg_quote($this->theme->getDirName(), '/') . '\//', '', $filePath);
      $this['svgContents'] = File::get($themePath . '/' . $filePath);
    } catch(Exception $e) {
      $this['error'] = $e->getMessage();
    }
}
?>
==
{% if svgContents %}
  {{ svgContents|raw }}
{% else %}
  <script>
    console.error("Cant load svg: {{ error }}");
  </script>
{% endif %}


