[viewBag]

[seoTags]
==
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{{ this.theme.site_name }} - {{ this.page.title }}</title>
    <meta name="author" content="{{this.theme.owner_name}}">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    {% component 'seoTags' %} {# https://octobercms.com/plugin/renatio-seomanager #}
    {% partial 'jumplink-favicons' %}
    {% styles %}
    {# <link href="{{ ['assets/scss/theme.scss'] | theme }}" rel="stylesheet"> #}
    <link href="{{ ['assets/css/theme.css'] | theme }}" rel="stylesheet">
    {# Prefetch flipbook images #}
    {%- for collection in this.theme.flipbooks_collection -%}
        {%- for book in collection.flipbooks -%}
            {%- if book.show -%}
                {%- for page in book.pages -%}
                    <link rel="prefetch" href="{{ page.image | media }}">
                {%- endfor -%}
            {%- endif -%}
        {%- endfor -%}
    {%- endfor -%}
</head>