description = "Gallery aus den Theme Settings"

[viewBag]
snippetCode = "jumplink-snippet-gallery"
snippetName = "Gallery  (Theme Settings)"
snippetProperties[handle][title] = "handle"
snippetProperties[handle][type] = "string"
snippetProperties[handle][default] = ""
snippetProperties[handle][options][] = ""
==
<?php
// use Debugbar as Debugbar;
use System\Classes\ImageResizer;
use System\Classes\MediaLibrary;

public function OnStart() {
    
    $handle = $this->handle;
    
    // Get the correct base path (without /cache)
    $basePath = base_path();
    $mediaPath = Config::get('cms.storage.media.path');
    $mediaFolder = Config::get('cms.storage.media.folder', 'media');
    $fullMediaPath = $basePath . '/storage/app/' . $mediaFolder;
    $this['foundGallery'] = null;
        
    // find image by handle
    if(isset($this->theme->page_historie_galleries)) {
        foreach ($this->theme->page_historie_galleries as $key => $gallery) {
            if(isset($gallery['handle']) && $gallery['handle'] == $handle) {
                // convert images to photoswipe format
                $images = [];
                
                if (!isset($gallery['images']) || !is_array($gallery['images'])) {
                    // Gallery has no images
                } else {
                    foreach ($gallery['images'] as $key => $image) {
                        if (!isset($image['image'])) {
                            continue;
                        }
                        
                        // Get the image path relative to media folder (remove leading slash if present)
                        $imageRelativePath = ltrim($image['image'], '/');
                        $fullImagePath = $fullMediaPath . '/' . $imageRelativePath;
                        
                        if (!file_exists($fullImagePath)) {
                            continue; // Skip this image if file doesn't exist
                        }
                        
                        try {
                            // Get image dimensions
                            list($width, $height) = getimagesize($fullImagePath);
                            $image['w'] = $width;
                            $image['h'] = $height;
                            
                            // Get the full URL to the original image
                            $imageUrl = MediaLibrary::url($imageRelativePath);
                            $image['src'] = $imageUrl;
                            
                            /**
                             * Generate thumbnail using Winter CMS ImageResizer
                             * @see https://wintercms.com/docs/v1.2/docs/services/image-resizing
                             */
                            $thumbUrl = ImageResizer::filterGetUrl($imageUrl, 300, 0, ['mode' => 'crop']);
                            $image['msrc'] = $thumbUrl;
                            
                            $image['id'] = $key;
                            $images[] = $image;
                        } catch (Exception $e) {
                            continue; // Skip this image on error
                        }
                    }
                }
                
                $gallery['images'] = $images;
                $this['foundGallery'] = $gallery;
            }
        }
    }
}
?>
==
{% set partialId = 'jumplink-snippet-gallery' %}

{% if autoscroll is not defined %}
    {% set autoscroll = true %}
{% endif %}

{% if mousescroll is not defined %}
    {% set mousescroll = false %}
{% endif %}

<div
    class="jumplink-partial {{partialId}}"
    data-partial-name="{{partialId}}"
>
    {# foundGallery is defined in the code section #}
    {% if foundGallery is null %}
        <div class="container">
            <div class="row">
                <p class="col-12">
                    Gallery with handle <code>{{handle}}</code> not found, please define this gallery in the theme settings of this theme.
                </p>
            </div>
        </div>
    {% else %}
        <gallery
            data="'{{foundGallery | json_encode()}}'"
            images-path="'{{''| media}}'"
            type="'{{foundGallery.type}}'"
            handle="'{{handle}}'"
            autoscroll='{{autoscroll}}'
            mousescroll='{{mousescroll}}'
        ></gallery>
    {% endif %}
</div>
