[viewBag]

[staticMenu footerMenu]
code = "footer"
==
{% set partialId = 'jumplink-footer' %}

{% if mode is not defined %}
    {% set mode = 'horizontal_menu' %} {# 'horizontal_menu' | 'vertical_menu' #}
{% endif %}

<footer
    class="jumplink-partial {{partialId}}"
    data-partial-name="{{partialId}}"
    data-mode="{{mode}}"
    data-items="{{footerMenu.menuItems | json_encode() }}"
    id="main-footer"
    itemscope
    itemtype="http://schema.org/SiteNavigationElement"
>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <a href="{{'kontakt' | staticPage}}">
                    <img class="img-fluid d-block mx-auto logo py-5" src="{{'assets/images/logo-footer.svg' | theme}}" alt="{{this.theme.site_name}}">
                </a>
            </div>
        </div>
    </div>

    {% if mode == 'horizontal_menu' %}
    
        <div class="footer-background">
            <div class="pt-5 pb-4">
                {% partial 'jumplink-address-center' wrapContainer=false xs=12 sm=12 md=12 lg=12 xl=12 offsetxs=0 offsetsm=0 offsetmd=0 offsetlg=0 offsetxl=0 %}
            </div>
            
            <div class="container-fluid">
                <div class="row">
                    <div class="col-auto mx-auto mb-4" style="max-width: 250px">
                        <a href="//www.opentable.de/restaurant/profile/172683/reserve?rid=172683&restref=172683" target="__blank" class="">
                            <img src="{{'assets/images/badge-instructions-de-1x.png' | theme}}" alt="Diners' Choice Award 2019" class="img-fluid">
                        </a> 
                    </div>
                </div>
            </div>
    
            <div class="navbar navbar-expand justify-content-center">
                {% partial 'jumplink-navigation/navbar-items' items=footerMenu.menuItems class='navbar-nav d-flex justify-content-center' itemClass='nav-item' %}
            </div>
        </div>

    {% endif %}
</footer>