description = "Tabs"

[viewBag]
snippetCode = "jumplink-snippet-tabs.htm"
snippetName = "Tabs (Theme Settings)"
snippetProperties[handle][title] = "theme settings handle"
snippetProperties[handle][type] = "string"
snippetProperties[handle][default] = ""
snippetProperties[handle][options][] = ""
==
{% set partialId = 'jumplink-snippet-tabs' %}
{% set tabs_collections = this.theme.tabs_collection %}
{% set found = null %}

{% for collection in tabs_collections %}
    {% if collection.handle == handle %}
        {% set found = collection %}
    {% endif %}
{% endfor %}

{% if found is not null %}
    <div class="jumplink-partial {{partialId}}" rv-tabs="{{handle}}">
        <div class="container-fluid pb-3 pt-5">
            <ul
                class="col-12 nav nav-tabs nav-tabs-underline d-flex flex-nowrap justify-content-start justify-content-md-center dragscroll"
                scrollable="true"
                id="{{handle}}-tabs"
                role="tablist"
            >
                {% for tab in found.tabs %}
                    <li class="nav-item">
                        <a
                            class="nav-link text-muted"
                            id="{{handle}}-tabs-{{ str_studly(tab.label) | lower | replace({'&': '_'}) }}"
                            href="#{{handle}}-tabs-content-{{ str_studly(tab.label) | lower | replace({'&': '_'}) }}"
                            aria-control="{{handle}}-tabs-content-{{ str_studly(tab.label) | lower | replace({'&': '_'}) }}"
                        >
                            {{tab.label}}
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </div>
        
        <div class="tab-content" id="{{handle}}-tabs-content">
            {% for tab in found.tabs %}
                <div
                    class="tab-pane fade"
                    role="tabpanel"
                    aria-labelledby="{{handle}}-tabs-{{ str_studly(tab.label) | lower | replace({'&': '_'}) }}"
                    id="{{handle}}-tabs-content-{{ str_studly(tab.label) | lower | replace({'&': '_'}) }}"
                >
                    {# Gallery handle (theme settings) #}
                    {% if tab.galleryHandle %}
                        {% partial 'jumplink-snippet-gallery.htm' handle=tab.galleryHandle autoscroll=false mousescroll=false %}
                    {% endif %}
                
                    {# Tabs content filename #}
                    {% if tab.contentFilename %}
                        <div class="container py-3">
                            {% component 'contenteditor' file=tab.contentFilename tools="bold,italic,link,heading,subheading,subheading3,subheading4,subheading5,paragraph,unordered-list,ordered-list,table,indent,unindent,line-break,image,video,preformatted" %}
                        </div>
                    {% endif %}
                    
                    {% if tab.calendarHandle %}
                        {# rivets component #}
                        <firebase-events-beautiful
                            template-style="'{{tab.calendarStyle}}'"
                            container-class="'container'"
                            text-title="'{{tab.calendarTitle}}'"
                            type="'{{tab.calendarType}}'"
                            calendar="'{{tab.calendarHandle}}'"
                            exclude-calendar=""
                            group-by="'none'" {# handle #}
                            active="true"
                            start-time="'{{tab.calendarStarttime}}'"
                            limit="{{tab.calendarLimit}}"
                            show-gallery="{{tab.calendarShowGallery}}"
                            show-toolbar="{{tab.calendarBookingToolbar}}"
                            show-book-button="{{tab.calendarBookingButton}}"
                            gallery-title="'{{galleryTitle}}'"
                            gallery-text="'{{galleryText}}'"
                            detail-page="'{{detailPage | app }}'"
                            get-event-by-url-id-param="'{{getEventByUrlIDParam}}'"
                            >
                        </firebase-events-beautiful>
                    {% endif %}
                </div>
            {% endfor %}
        </div>
    </div>
{% endif %}