[viewBag]
snippetCode = "jumplink-snippet-iframe"
snippetName = "IFrame"
snippetProperties[src][title] = "URL"
snippetProperties[src][type] = "string"
snippetProperties[src][default] = "https://panorama.panoxl.de/mahlzeitammeer/"
snippetProperties[src][options][] = ""
==
<div class="container-fluid">
    <div class="row">
        <div class="col-xs-12" style="height: calc(100vh - 56px); padding: 0">
            <iframe src="{{src}}" style="width: 100%; height: 100%"></iframe>
        </div>
    </div>
</div>