description = "Snippet: Contact Form"

[viewBag]
snippetCode = "jumplink-contact"
snippetName = "Contact Form"
snippetProperties[contentPath][title] = "Inhalt Dateiname (Optional)"
snippetProperties[contentPath][type] = "string"
snippetProperties[contentPath][default] = "contact"
snippetProperties[contentPath][options][] = ""
snippetProperties[source][title] = "Bild Quelle"
snippetProperties[source][type] = "string"
snippetProperties[source][default] = ""
snippetProperties[source][options][] = ""
==
<?php
// you find onSubmitContact in layout telmates
?>
==
<div class="" id="contact" data-target="#contact">
    <header class="py-3">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h2 class="">{{headertext}}</h2>
                    {% if source %}
                        <img class="center-block p-b-2" src="{{source | media}}">
                    {% endif %}
                    <div class="mb-3">
                        {% if contentPath %}
                            {% component 'contenteditor' file=contentPath tools="bold,italic,link,heading,subheading,subheading3,subheading4,subheading5,paragraph,unordered-list,ordered-list,table,indent,unindent,line-break,image,video,preformatted" %}
                        {% endif %}
                    </div>
                </div>
                
                <div class="col-12">
                    <contact-form layout="'2-columns'" in-modal="false" request-name="'onSubmitContact'"></contact-form>
                </div>
                
            </div>
        </div>
    </header>
</div>