description = "Snippet: Contact Form"

[viewBag]
snippetCode = "jumplink-contact"
snippetName = "Contact Form"
snippetProperties[contentPath][title] = "Inhalt Dateiname (Optional)"
snippetProperties[contentPath][type] = "string"
snippetProperties[contentPath][default] = "contact"
snippetProperties[contentPath][options][] = ""
snippetProperties[source][title] = "Bild Quelle"
snippetProperties[source][type] = "string"
snippetProperties[source][default] = ""
snippetProperties[source][options][] = ""
snippetProperties[type][title] = "Typ"
snippetProperties[type][type] = "dropdown"
snippetProperties[type][default] = "contact"
snippetProperties[type][options][contact] = "contact"
snippetProperties[type][options][reservation] = "reservation"
==
<?php
// you find onSubmitContact and onSubmitReservation in layouts
?>
==
{% if type == 'contact' %}
    {% set requestName = 'onSubmitContact' %}
{% else %}
    {% set requestName = 'onSubmitReservation' %}
{% endif %}

<div class="" id="contact" data-target="#contact">
    <header class="py-3">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h2 class="">{{headertext}}</h2>
                    {% if source %}
                        <img class="center-block p-b-2" src="{{source | media}}">
                    {% endif %}
                    <div class="mb-3">
                        {% if contentPath %}
                            {# Sanitize contentPath to ensure valid filename #}
                            {% set sanitizedContentPath = contentPath|replace({' ': '-', '  ': '-'})|trim %}
                            {% set pathParts = sanitizedContentPath|split('.') %}
                            {% set hasExtension = pathParts|length > 1 and (pathParts|last|lower == 'htm' or pathParts|last|lower == 'txt' or pathParts|last|lower == 'md') %}
                            {% if not hasExtension %}
                                {% set sanitizedContentPath = sanitizedContentPath ~ '.htm' %}
                            {% endif %}
                            {% component 'contenteditor' file=sanitizedContentPath tools="bold,italic,link,heading,subheading,subheading3,subheading4,subheading5,paragraph,unordered-list,ordered-list,table,indent,unindent,line-break,image,video,preformatted" %}
                        {% endif %}
                    </div>
                </div>
                
                <div class="col-12">
                    <contact-form layout="'2-columns'" in-modal="false" request-name="'{{requestName}}'"></contact-form>
                </div>
                
            </div>
        </div>
    </header>
</div>