[viewBag]
snippetCode = "reservation"
snippetName = "Tisch reservieren"
==
{# https://www.opentable.de/widget/reservation/preview?rid=172683 #}
{# <script type='text/javascript' src='//www.opentable.de/widget/reservation/loader?rid=172683&type=standard&theme=tall&iframe=false&overlay=false&domain=de&lang=de-DE'></script>#}
<iframe src="https://www.opentable.de/widget/reservation/canvas?rid=172683&amp;type=standard&amp;theme=tall&amp;overlay=false&amp;domain=de&amp;lang=de-DE&amp;r3abvariant=true&amp;r3uid=FwJzMtG--&amp;newtab=false&amp;disablega=false" class="mx-auto d-block align-items-center" width="288" height="490" frameborder="0" scrolling="no"></iframe>