description = "Content look like a real book"

[viewBag]
snippetCode = "jumplink-snippet-flipbooks"
snippetName = "Flipbooks  (Theme Settings)"
snippetProperties[handle][title] = "theme settings handle"
snippetProperties[handle][type] = "string"
snippetProperties[handle][default] = ""
snippetProperties[handle][options][] = ""
==
<?php
// use Debugbar as Debugbar;

function OnStart() {
    $handle = $this->handle;
    $this['found_collection'] = null;
    // find image by handle
    foreach ($this->theme->flipbooks_collection as $key => $collection) {
        if($collection['handle'] == $handle) {
            // convert flipbooks to array with the right order
            $flipbooks = [];
            foreach ($collection['flipbooks'] as $key => $flipbook) {
                // convert pages to array with the right order
                $pages = [];
                foreach ($flipbook['pages'] as $key => $page) {
                    $page['id'] = $key;
                    $pages[] = $page;
                }
                $flipbook['pages'] = $pages;
                $flipbook['id'] = $key;
                $flipbooks[] = $flipbook;
            }
            $collection['flipbooks'] = $flipbooks;
            $this['found_collection'] = $collection;
        }
    }
}
?>
==
{% if found_collection is not null %}
    <flipbooks books="'{{found_collection.flipbooks | json_encode()}}'" background="'{{found_collection.background | media}}'" handle="{{handle}}"></flipbooks>
{% endif %}