description = "Video"

[viewBag]
snippetCode = "jumplink-snippet-video"
snippetName = "Video"
==
{% set partialId = 'jumplink-snippet-video' %}
{% set handle = 'home-header-video' %}

<div
    class=" jumplink-partial {{partialId}}"
    data-partial-name="{{partialId}}"
    data-handle="{{handle}}"
    >
    <video autoplay muted loop autobuffer id="{{handle}}" poster="{{'/videos/poster.jpg' | media}}">
        <source src="{{'/videos/imagefilm_mahlzeit_am_meer_beschnitten.webm' | media}}" type="video/webm">
        <source src="{{'/videos/imagefilm_mahlzeit_am_meer_beschnitten.mp4' | media}}" type="video/mp4">
        <source src="{{'/videos/imagefilm_mahlzeit_am_meer_beschnitten.ogv' | media}}" type="video/ogg">
        <p>Your browser does not support the video element.</p>
    </video>
</div>