.iconset {
    display: inline-block;
    
    &.w-8 {
        svg {
            width: 8px;
        }
    }
    &.h-8 {
        svg {
            height: 8px;
        }
    }
    &.w-16 {
        svg {
            width: 16px;
        }
    }
    &.h-16 {
        svg {
            height: 16px;
        }
    }
    &.w-20 {
        svg {
            width: 20px;
        }
    }
    &.h-20 {
        svg {
            height: 20px;
        }
    }
    &.w-24 {
        svg {
            width: 24px;
        }
    }
    &.h-24 {
        svg {
            height: 24px;
        }
    }
    &.w-32 {
        svg {
            width: 32px;
        }
    }
    &.h-32 {
        svg {
            height: 32px;
        }
    }
    &.w-40 {
        svg {
            width: 40px;
        }
    }
    &.h-40 {
        svg {
            height: 40px;
        }
    }
    &.w-48 {
        svg {
            width: 48px;
        }
    }
    &.h-48 {
        svg {
            height: 48px;
        }
    }
    &.w-56 {
        svg {
            width: 56px;
        }
    }
    &.h-56 {
        svg {
            height: 56px;
        }
    }
    &.w-64 {
        svg {
            width: 64px;
        }
    }
    &.h-64 {
        svg {
            height: 64px;
        }
    }
    &.w-72 {
        svg {
            width: 72px;
        }
    }
    &.h-72 {
        svg {
            height: 72px;
        }
    }
    &.w-80 {
        svg {
            width: 80px;
        }
    }
    &.h-80 {
        svg {
            height: 80px;
        }
    }
    &.w-88 {
        svg {
            width: 88px;
        }
    }
    &.h-88 {
        svg {
            height: 88px;
        }
    }
    &.w-96 {
        svg {
            width: 96px;
        }
    }
    &.h-96 {
        svg {
            height: 96px;
        }
    }

    // black
    &.black, &.fill-black {
        color: $black;
    }
    &.stroke-black {
        svg {
            path {
                stroke: $black !important;
            }
        }
    }

    // gray
    &.gray, &.fill-gray {
        color: colors('gray');
    }
    &.stroke-gray {
        svg {
            path {
                stroke: colors('gray') !important;
            }
        }
    }

    // gray-light
    &.gray-light, &.fill-gray-light {
        color: colors('gray-light');
    }
    &.stroke-gray-light {
        svg {
            path {
                stroke: colors('gray-light') !important;
            }
        }
    }

    // gray-lighter
    &.gray-lighter, &.fill-gray-lighter {
        color: colors('gray-lighter');
    }
    &.stroke-gray-lighter {
        svg {
            path {
                stroke: colors('gray-lighter') !important;
            }
        }
    }

    // whote
    &.fill-white, &.white {
        color: colors('white');
    }
    &.stroke-white {
        svg {
            stroke: colors('white') !important;
            * {
                stroke: colors('white') !important;
            }
        }
    }

    &.fill-primary, &.primary {
        color: theme-color('primary');
    }
    &.stroke-primary {
        svg {
            stroke: theme-color('primary') !important;
            * {
                stroke: theme-color('primary') !important;
            }
        }
    }
    
    &.fill-success, &.success {
        color: theme-color('success');
    }
    &.stroke-success {
        svg {
            stroke: theme-color('success') !important;
            * {
                stroke: theme-color('success') !important;
            }
        }
    }
    
    &.fill-info, &.info {
        color: theme-color('info');
    }
    &.stroke-info {
        svg {
            stroke: theme-color('info') !important;
            * {
                stroke: theme-color('info') !important;
            }
        }
    }
    
    &.fill-warning, &.warning {
        color: theme-color('warning');
    }
    &.stroke-warning {
        svg {
            stroke: theme-color('warning') !important;
            * {
                stroke: theme-color('warning') !important;
            }
        }
    }

    &.fill-danger, &.danger {
        color: theme-color('danger');
    }
    &.stroke-danger {
        svg {
            stroke: theme-color('danger') !important;
            * {
                stroke: theme-color('danger') !important;
            }
        }
    }
}

a {
    // fill color
    .iconset {
        &.fill-link-color, &.link-color {
            color: $link-color;
        }
    }
    &:hover {
        .iconset {
            &.fill-link-color, &.link-color {
                color: $link-hover-color;
            }
        }
    }

    // stroke color
    .iconset {
        &.stroke-link-color {
            svg {
                stroke: $link-color !important;
                * {
                    stroke: $link-color !important;
                }
            }
        }
    }
    &:hover {
        .iconset {
            &.stroke-link-color {
                svg {
                    stroke: $link-hover-color !important;
                    * {
                        stroke: $link-hover-color !important;
                    }
                }
            }
        }
    }
}

.page-link {
    // fill color
    .iconset {
        &.fill-pagination-color, &.pagination-color {
            color: $pagination-color;
        }
    }
    &:hover {
        .iconset {
            &.fill-pagination-color, &.pagination-color {
                color: $pagination-hover-color;
            }
        }
    }

    // stroke color
    .iconset {
        &.stroke-pagination-color {
            svg {
                stroke: $pagination-color !important;
                * {
                    stroke: $pagination-color !important;
                }
            }
        }
    }
    &:hover {
        .iconset {
            &.stroke-pagination-color {
                svg {
                    stroke: $pagination-hover-color !important;
                    * {
                        stroke: $pagination-hover-color !important;
                    }
                }
            }
        }
    }
}

[disabled], .disabled {
    .page-link {
        .iconset {
            &.fill-pagination-color, &.pagination-color {
                 color: $pagination-disabled-color; }
            }
            &.stroke-pagination-color {
                svg {
                    stroke: $pagination-disabled-color !important;
                    * {
                        stroke: $pagination-disabled-color !important;
                    }
                }
            }
        }
    }
}