
@keyframes swing-7deg {
    100% {
        transform: rotate(7deg)
    }
}

@keyframes swing-6deg {
    100% {
        transform: rotate(6deg)
    }
}

@keyframes swing-5deg {
    100% {
        transform: rotate(5deg)
    }
}

@keyframes swing-7-7deg {
    0% {
        transform: rotate(-7deg)
    }
    100% {
        transform: rotate(7deg)
    }
}

@keyframes swing-5-5deg {
    0% {
        transform: rotate(-5deg)
    }
    100% {
        transform: rotate(5deg)
    }
}

@keyframes swing-4-4deg {
    0% {
        transform: rotate(-4deg)
    }
    100% {
        transform: rotate(4deg)
    }
}

.swing-7deg {
    animation-duration: 1s;
    animation-fill-mode: both;
    animation-timing-function: ease-in-out;
    transform-origin: 50% 0;
    animation-name: swing-7deg;
    animation-direction: alternate;
    animation-iteration-count: infinite;
}