// fix chrome border on focus
.btn {
    &:focus {
        -webkit-box-shadow: none;
        box-shadow: none;
    }
    &.btn-outline-warning {
        &:hover {
            color: $white;
        }
    }
}



/**
 * Button with dashed border, animated on hover
 */
 @include move-border-dashed-keyframes($btn-outline-dashed-border-spacing);
.btn-outline-dashed-dark {
    @include border-dashed(colors('gray-dark'), $btn-outline-dashed-border-spacing, $width: 2px);
    &:hover, &:focus {
        background-color: transparent;
        color: $black;
        @include move-border-dashed($btn-outline-dashed-border-spacing);
    }
}