// carousel caption text positions
.carousel-caption {
  &.top {
    top: 0;
    padding-top: 0;
  }
  &.middle {
    // https://css-tricks.com/snippets/css/a-guide-to-flexbox/
    @include vp-flexbox();
    @include vp-flex-direction(column);
    @include vp-justify-content(center);
    bottom: 0;
    top: 0;
    height: 100%;
  }
  &.bottom {
    bottom: 0;
    padding-bottom: 0;
  }
  &.left {
    left: 0;
    right: initial;
  }
  &.center {
    left: 0;
    right: 0;
    text-align: center;
    margin: auto;
  }
  &.right {
    left: initial;
    right: 0;
  }

  @include vp-flexbox();
}