// https://www.gradient-animator.com/
@include vp-keyframes(animatedBackgroundGradient) {
    0%{background-position:100% 0%}
    50%{background-position:0% 100%}
    100%{background-position:100% 0%}
}

@include vp-keyframes(colorChangeDangerWarning) {
    0%{color: theme-color('success');}
    50%{color: theme-color('primary');}
    100%{color: theme-color('warning');}
}

@include vp-keyframes(colorChangeWarningDanger) {
    0%{color: theme-color('success');}
    50%{color: theme-color('primary');}
    100%{color: theme-color('warning');}
}

/**
 * Animated background, you neet this class in addition to a bg-gradient class like bg-gradient-success-info-warning
 * @see https://www.gradient-animator.com/
 */
.animated-gradient {
    background-size: 600% 600% !important;
    @include vp-animation('animatedBackgroundGradient 9s ease infinite');
}

.gradient-primary-danger-primary-danger-bg {
    @include vp-linear-gradient(223deg, theme-color('primary'), theme-color('danger'), theme-color('primary'), theme-color('danger'));
}

.gradient-info-success-info-success-bg {
    @include vp-linear-gradient(223deg, theme-color('info'), theme-color('success'), theme-color('info'), theme-color('success'));
}

// use this only if the gradient should not be animated, see http://www.hongkiat.com/blog/css-gradient-border/
.gradient-border-warning-danger {
    border: 1px solid transparent;
    -moz-border-image: -moz-linear-gradient(to bottom left, theme-color('warning') 0%, theme-color('danger') 100%);
    -webkit-border-image: -webkit-linear-gradient(to bottom left, theme-color('warning') 0%, theme-color('danger') 100%);
    border-image: linear-gradient(to bottom left, theme-color('warning') 0%, theme-color('danger') 100%);
    border-image-slice: 1;
}


.bg-body {
  background-color: $body-bg;
}

.bg-gray {
    background-color: colors('gray');
}

.bg-gray-light {
    background-color: colors('gray-light');
}

.bg-gray-lighter {
    background-color: colors('gray-lighter');
}

.bg-white {
    background-color: colors('white');
}

.text-black {
    color: colors('black') !important;
}

.text-white {
    color: colors('white') !important;
}


.fill-primary {
    fill: theme-color('primary') !important;
}

.fill-success {
    fill: theme-color('success')!important;
}

.fill-warning {
    fill: theme-color('warning') !important;
}

.fill-danger {
    fill: theme-color('danger') !important;
}

.fill-info {
    fill: theme-color('info') !important;
}