// use this only if the gradient should not be animated, see http://www.hongkiat.com/blog/css-gradient-border/
.gradient-border-warning-danger {
    border: 1px solid transparent;
    -moz-border-image: -moz-linear-gradient(to bottom left, theme-color('warning') 0%, theme-color('danger') 100%);
    -webkit-border-image: -webkit-linear-gradient(to bottom left, theme-color('warning') 0%, theme-color('danger') 100%);
    border-image: linear-gradient(to bottom left, theme-color('warning') 0%, theme-color('danger') 100%);
    border-image-slice: 1;
}


.bg-body {
  background-color: $body-bg;
}

.bg-gray {
    background-color: colors('gray');
}

.bg-gray-light {
    background-color: colors('gray-light');
}

.bg-gray-lighter {
    background-color: colors('gray-lighter');
}

.bg-white {
    background-color: colors('white');
}

.text-black {
    color: colors('black') !important;
}

.text-white {
    color: colors('white') !important;
}


.fill-primary {
    fill: theme-color('primary') !important;
}

.fill-success {
    fill: theme-color('success')!important;
}

.fill-warning {
    fill: theme-color('warning') !important;
}

.fill-danger {
    fill: theme-color('danger') !important;
}

.fill-info {
    fill: theme-color('info') !important;
}