/**
 * WORKAROUND to set chrome background autofill color to transparent
 * @see https://stackoverflow.com/a/37432260/1465919
 */
@-webkit-keyframes autofill {
    to {
        background: transparent;
    }
}
.form-control, .custom-select, .input-group-addon {    
    &:-webkit-autofill {
        // WORKAROUND
        -webkit-animation-name: autofill;
        -webkit-animation-fill-mode: both;
    }
}