.nav-tabs {
  &.nav-tabs-underline {
    .nav-item {
      margin-bottom: 0;
    }

    .nav-link {
      border-width: 0 0 $nav-tabs-border-width 0;
      
        // &.show      
        &.active {
          border-color: $nav-tabs-link-active-border-color;
          color: $nav-tabs-link-active-color !important;
        }
    }

  }
}

.card-header {
  background-color: $card-cap-bg;
}

.dropdown-toggle {
    cursor: pointer;
    &::after {
        border: none;
    }
}

.nav-item.active {
    color: $green !important;    
}

.navbar {
    .background-01 {
        height: 2rem;
        width: 100%;
    }
     @include media-breakpoint-down(sm) {
         padding-left: 0;
         padding-right: 0;
     }
}

.navbar-dark {
    .tcon-menu__lines {
        background-color: $navbar-dark-color;
        &::before, &::after {
            background-color: $navbar-dark-color;
        }
    }
    .navbar-toggler:hover {
        .tcon-menu__lines {
            // background-color: $navbar-dark-hover-color;
            &::before, &::after {
                background-color: $navbar-dark-hover-color;
            }
        }
    }
    
    .navbar-brand {
        &:hover {
            filter: brightness(0.2) invert(1);
        }
    }
}

.navbar-light {
    .tcon-menu__lines {
        background-color: $navbar-light-color;
        &::before, &::after {
            background-color: $navbar-light-color;
        }
    }
    .navbar-toggler:hover {
        .tcon-menu__lines {
            // background-color: $navbar-light-hover-color;
            &::before, &::after {
                background-color: $navbar-light-hover-color;
            }
        }
    }
    
    .navbar-brand {
        &:hover {
            filter: brightness(0.8) invert(1);
        }
    }
}

/**
 * Do not switch to vertical item view on small devices
 */
.navbar-nav {
    -webkit-box-direction: normal;
    -webkit-box-orient: horizontal;
    -webkit-flex-direction: row;
    -moz-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    flex-wrap: wrap;
}

.navbar-toggler {
    align-self: center;
}

/*
.navbar {
    @include media-breakpoint-down(md) {
        padding: 1.5rem 1.5rem;
    } 
}
*/