$font-family-first: 'Montserrat', sans-serif;
$font-family-second: 'Special Elite', cursive;

$btn-outline-dashed-border-spacing: 20px;

// Spacing
//
// Control the default styling of most Bootstrap elements by modifying these
// variables. Mostly focused on spacing.
// You can add more entries to the $spacers map, should you need more variation.

// stylelint-disable
$spacer: 1rem !default;
$spacer_factor_0: 0 !default;
$spacer_factor_1: .25 !default;
$spacer_factor_2: .5 !default;
$spacer_factor_3: 1 !default;
$spacer_factor_4: 1.5 !default;
$spacer_factor_5: 3 !default;

$spacers: () !default;
$spacers: map-merge((
  0: ($spacer * $spacer_factor_0),
  1: ($spacer * $spacer_factor_1),
  2: ($spacer * $spacer_factor_2),
  3: ($spacer * $spacer_factor_3),
  4: ($spacer * $spacer_factor_4),
  5: ($spacer * $spacer_factor_5),
), $spacers);