// Portet from theme settings
$white : #fff;
$gray-100 : #f8f9fa;
$gray-200 : #e9ecef;
$gray-300 : #dee2e6;
$gray-400 : #ced4da;
$gray-500 : #adb5bd;
$gray-600 : #adb5bd;
$gray-700 : #495057;
$gray-800 : #343a40;
$gray-900 : #212529;
$black : #000;
$blue : #172b45;
$indigo : #6610f2;
$purple : #613d7c;
$pink : #ff5b77;
$red : #d9534f;
$orange : #f08541;
$yellow : #b7ad8d;
$green : #5cb85c;
$teal : #5bc0de;
$cyan : #17a2b8;
$primary : $blue;
$secondary : $gray-600;
$success : $green;
$info : $cyan;
$warning : $yellow;
$danger : $orange;
$light : $gray-100;
$dark : $gray-800;
$theme-color-interval : 8%;
$yiq-contrasted-threshold : 150;
$yiq-text-dark : $gray-900;
$yiq-text-light : $white;
$enable-caret : 1;
$enable-rounded : 1;
$enable-shadows : 1;
$enable-gradients : 1;
$enable-transitions : 1;
$enable-grid-classes : 1;
$enable-print-styles : 1;
$spacer : 1rem;
$spacer_factor_0 : 0;
$spacer_factor_1 : 0.5;
$spacer_factor_2 : 1;
$spacer_factor_3 : 2;
$spacer_factor_4 : 3;
$spacer_factor_5 : 6;
$body-bg : $white;
$body-color : $gray-900;
$link-color : $warning;
$link-decoration : none;
$link-hover-color : darken($link-color, 15%);
$link-hover-decoration : underline;
$line-height-lg : 0;
$line-height-sm : 1.5;
$border-width : 1px;
$border-color : $gray-300;
$border-radius : 0;
$border-radius-lg : 0;
$border-radius-sm : 0;
$component-active-color : $white;
$component-active-bg : theme-color("primary");
$caret-width : .3em;
$transition-base : all .2s ease-in-out;
$transition-fade : opacity .15s linear;
$transition-collapse : height .35s ease;
$font-family-sans-serif : 'Montserrat', -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
$font-family-monospace : Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
$input-padding-y : .5rem;
$input-padding-x : .75rem;
$input-line-height : 1.25;
$input-padding-y-sm : .25rem;
$input-padding-x-sm : .5rem;
$input-line-height-sm : $input-btn-line-height-sm;
$input-padding-y-lg : .75rem;
$input-padding-x-lg : 1.5rem;
$input-line-height-lg : $input-btn-line-height-lg;
$input-bg : $white;
$input-disabled-bg : $gray-200;
$input-color : $gray-700;
$input-border-color : $warning;
$input-border-width : $input-btn-border-width;
$input-box-shadow : inset 0 1px 1px rgba($black,.075);
$input-border-radius : $border-radius;
$input-border-radius-lg : $border-radius-lg;
$input-border-radius-sm : $border-radius-sm;
$input-focus-bg : $input-bg;
$input-focus-border-color : lighten($component-active-bg, 25%);
$input-focus-color : $warning;
$input-focus-width : $input-btn-focus-width;
$input-focus-box-shadow : $input-btn-focus-box-shadow;
$input-placeholder-color : $gray-600;
$input-height-border : $input-border-width * 2;
$nav-link-padding-y : .5rem;
$nav-link-padding-x : 1rem;
$nav-link-disabled-color : $gray-600;
$nav-tabs-border-color : $warning;
$nav-tabs-border-width : $border-width;
$nav-tabs-border-radius : $border-radius;
$nav-tabs-link-hover-border-color : $warning;
$nav-tabs-link-active-color : $warning;
$nav-tabs-link-active-bg : $body-bg;
$nav-tabs-link-active-border-color : $warning;
$nav-pills-border-radius : $border-radius;
$nav-pills-link-active-color : $component-active-color;
$nav-pills-link-active-bg : $component-active-bg;
