$font-family-first: 'Montserrat', sans-serif;
$font-family-second: 'Special Elite', cursive;

$btn-outline-dashed-border-spacing: 20px;

$navbar-background-color: transparentize(theme-color($navigation_navbar_background_color), $navigation_navbar_background_transparency);

.navbar-background {
  background-color: $navbar-background-color;
}