flipbooks {
    display: block;
    overflow: hidden;
    
    .flipbooks-container {
        bottom: 30px;
        left: 0;
        right: 0;
        .col {
            max-width: 200px;
        }
    }
}