flipbook {
    display: block;
    
    rv-img {   
    	-webkit-touch-callout: none;
    	-webkit-user-select: none;
    	-khtml-user-select: none;
    	-moz-user-select: none;
    	-ms-user-select: none;
    	user-select: none;
    }
    
    .mask {
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        z-index: 1030;
        // background-color: rgba(255, 255, 255, 0.3);
        // opacity: 0.5;
        transition: all 1s;
        .close-book {
            position: absolute;
            top: 5px;
            right: 5px;
        }
        
        .prev-page {
            position: absolute;
            top: 50vh;
            left: 5px;
        }
        
        .next-page {
            position: absolute;
            top: 50vh;
            right: 5px;
        }
    }
    
    .flipbook-preview {
        transition: transform 100ms;
        &:hover {
            transform: scale3d(1.05, 1.05, 1);
        }
    }
    	
	// turn.js is active 
	.page-wrapper {
        .page {
            display: block;
        	
            position: absolute;
            top: 0px;
            left: 0px;
            bottom: auto;
            right: auto;
        }
	}
	
	.flipbook-zoom-wrapper {
        visibility: hidden;
        position: fixed;
        left: 0;
        top: 0;
        transform: scale3d(0, 0, 0);
        z-index: 5000;
        &.animate {
            transition: all 1s;
        }
	    
	}
	
    .shadow {
    	-webkit-transition: -webkit-box-shadow 0.5s;
    	-moz-transition: -moz-box-shadow 0.5s;
    	-o-transition: -webkit-box-shadow 0.5s;
    	-ms-transition: -ms-box-shadow 0.5s;
    
    	-webkit-box-shadow: 0 0 20px rgba(0,0,0,0.5);
    	-moz-box-shadow: 0 0 20px rgba(0,0,0,0.5);
    	-o-box-shadow: 0 0 20px rgba(0,0,0,0.5);
    	-ms-box-shadow: 0 0 20px rgba(0,0,0,0.5);
    	box-shadow: 0 0 20px rgba(0,0,0,0.5);
    	
    }

}