[viewBag]
==
<div class="row">
    <div class="col-12">
        <h1 rv-show="id">{titleEdit}</h1>
        <h1 rv-hide="id">{titleCreate}</h1>
    </div>
    
    <div class="col-12 form-group">
        <rv-checkbox description="'Nicht aktivierte Kalender werden ausgeblendet.'" default="true" label="'Aktiviert'" rv-checked="calendar.active"></rv-checkbox>
    </div>
    
    <div class="col-12">
        <rv-select id="calendarType" label="'Typ'" description="'Öffentliche Führungen sind Führungen mit Datum, Führung die angefragt werden können haben kein Datum.'" values="types" rv-selected="calendar.type"></rv-select>
    </div>
        
    <div class="col-12 form-group">
        <label for="calendarName">Name</label>
        <input type="text" class="form-control" id="calendarName" aria-describedby="calendarNameDesc" placeholder="Neuer Name" rv-value="calendar.name">
        <small id="calendarNameDesc" class="form-text text-muted">Kurzer Name als Bezeichnung für den Kalender</small>
    </div>
        
    <div class="col-12 form-group">
        <label for="calendarName">Titel</label>
        <input type="text" class="form-control" id="calendarName" aria-describedby="calendarNameDesc" placeholder="Neuer Titel" rv-value="calendar.title">
        <small id="calendarNameDesc" class="form-text text-muted">Der Hauptname deines Kalenders.</small>
    </div>
    
    <div class="col-12 form-group">
        <label for="calendarSubtitle">Untertitel</label>
        <input type="text" class="form-control" id="calendarSubtitle" aria-describedby="calendarSubtitleDesc" placeholder="Neuer Untertitel" rv-value="calendar.subtitle">
        <small id="calendarSubtitleDesc" class="form-text text-muted">Kurzbeschreibung deines neuen Kalenders.</small>
    </div>
    
    <div class="col-12 form-group">
        <label for="calendarDesc">Beschreibung</label>
        <div
            class="form-control"
            id="calendarDesc"
            name="description"
            rows="6"
            aria-describedby="calendarDescDesc"
            placeholder="Deine Beschreibung"
            rv-pell="event.description"
            data-options='{
               "actions": [
                  "bold",
                  "italic",
                  "underline",
                  "strikethrough",
                  "heading1",
                  "heading2",
                  "paragraph",
                  "quote",
                  "olist",
                  "ulist",
                  "code",
                  "line",
                  "link",
                  "image"
               ]
            }'
        ></div>
        <small id="calendarDescDesc" class="form-text text-muted">Hauptbeschreibung deines neuen Kalenders.</small>
    </div>
        
    <div class="col-12 form-group">
        <label for="calendarNote">Notiz</label>
        <div
            class="form-control"
            id="calendarNote"
            name="editordata"
            rows="6"
            aria-describedby="calendarNoteDesc"
            placeholder="Deine Notiz"
            rv-pell="calendar.note"
            data-options='{
               "actions": [
                  "bold",
                  "italic",
                  "underline",
                  "strikethrough",
                  "heading1",
                  "heading2",
                  "paragraph",
                  "quote",
                  "olist",
                  "ulist",
                  "code",
                  "line",
                  "link",
                  "image"
               ]
            }'
        ></div>
        <small id="calendarNoteDesc" class="form-text text-muted">Zusätzliche Anmerkungen.</small>
    </div>
    
    <div class="col-12">
        <uploaded-files label="'Bilder'" files="calendar.images"></uploaded-files>
    </div>
    
    <div class="col-12">
        <file-upload label="Bilder dem Kalender hinzufügen" uploaded-files="uploadedImages"></file-upload>
    </div>
    
    
    <div class="col-12 col-md-6 text-left">
        <button rv-if="id | not" class="btn btn-primary" rv-on-click="createCalendar">Kalender anlegen</button>
        <button rv-if="id" class="btn btn-primary" rv-on-click="updateCalendar">Kalender aktualisieren</button>
    </div>
    
    <div class="col-12 col-md-6 text-right">        
        <a href="{{'firebase/calendar-table' |page }}" class="btn btn-default">Kalender auflisten</a>
        <a href="{{'firebase/signin' |page }}" class="btn btn-default">Zur Übersicht</a>
    </div>
</div>