[viewBag]
==
<div class="container pt-5" rv-class-position-relative="background">
    <div rv-if="background" class="row">
        <div class="col-12 px-0">
            <rv-img src="background" ratio="'2:1'" delay="0"></rv-img>
        </div>
    </div>
    <div rv-if="ready" class="flipbooks-container w-100 px-lg-5" rv-class-position-absolute="background">
        <div class="row d-none d-lg-flex" rv-class-justify-content-between="platform.handle | eq 'ie' | not">
            <div class="col mx-auto" rv-each-book="books">
                <flipbook book="book"></flipbook>
            </div>
        </div>
        <div class="row d-flex d-lg-none">
            <div class="col-12 col-md-6 my-2" rv-each-book="books" rv-class="'photoswipe-wrapper-' | append book.handle">
                <div >
                    <rv-img src="book.previewPage.image" data-index="0" rv-data-handle="book.handle" ratio="book.ratio" alt="book.previewPage.alt" delay="0" rv-on-click="openPhotoswipe"></rv-img>
                </div>
                <rv-photoswipe handle="book.handle" images="book.photoswipe"></rv-photoswipe>
            </div>
        </div>
    </div>
</div>
