[viewBag]
==
<div class="container pt-5" rv-class-position-relative="background">
    <div rv-if="background" class="row">
        <div class="col-12 px-0">
            <rv-img src="background" ratio="'2:1'" delay="0"></rv-img>
        </div>
    </div>
    <div rv-if="ready" class="flipbooks-container w-100 justify-content-center px-md-5" rv-class-position-absolute="background">
        <div class="row" rv-class-justify-content-between="platform.handle | eq 'ie' | not">
            <div class="col" rv-each-book="books">
                <flipbook book="book"></flipbook>
            </div>
        </div>
    </div>
</div>