[viewBag]
==
<div class="flipbook-preview" rv-class-invisible="open" rv-on-click="openBook">
    <rv-img src="previewPage.image" ratio="ratio" alt="previewPage.alt" delay="0"></rv-img>
</div>

<div class="flipbook-zoom-wrapper">
    <div
        class="flipbook"
        rv-class-with-shadow="book.pages | size | gt 2"
        rv-class-cursor-zoom-in="zoom | eq 1"
        rv-class-cursor-zoom-out="zoom | eq 2"
        {# tab event comes from https://github.com/benmajor/jQuery-Touch-Events #}
        rv-on-tap="zoomTo"
        >
        <div rv-each-page="book.pages" class="page">
            {# <img class="img-fluid" rv-src="page.image" rv-alt="page.alt"> #}
            <rv-img src="page.image" ratio="ratio" alt="page.alt" delay="0"></rv-img>
        </div>
    </div>
</div>

<div rv-show="open" class="mask">

</div>


<div rv-show="showCloseAction | call zoom open" class="close-book text-white action" rv-on-click="closeBook">
    {% partial "jumplink-iconset" name="icon_close" color="text-white" size=32 class="m-2" %}
</div>

<div rv-show="showPrevPageAction | call currentPageIndex zoom open" off-rv-show="currentPageIndex | gt 1 | and zoom | eg 1 | and open" class="prev-page action" rv-on-click="prevPage">
    {% partial "jumplink-iconset" name="arrow_carrot_thin" color="text-primary" direction="left" size=32 class="m-2" %}
</div>

<div rv-show="showNextPageAction | call book.pages currentPageIndex zoom open" off-rv-show="book.pages | size | gt currentPageIndex | and zoom | eg 1 | and open" class="next-page action" rv-on-click="nextPage">
    {% partial "jumplink-iconset" name="arrow_carrot_thin" color="text-primary" direction="right" size=32 class="m-2" %}
</div>