[viewBag]
==
<div class="flipbook-preview" rv-class-invisible="open" rv-on-click="openBook">
    <rv-img src="previewPage.image" ratio="ratio" alt="previewPage.alt" delay="0"></rv-img>
</div>

<div class="flipbook-zoom-wrapper">
    <div class="flipbook" rv-class-with-shadow="book.pages | size | gt 2">
        <div rv-each-page="book.pages" class="page">
            {# <img class="img-fluid" rv-src="page.image" rv-alt="page.alt"> #}
            <rv-img src="page.image" ratio="ratio" alt="page.alt" delay="0"></rv-img>
        </div>
    </div>
</div>

<div rv-show="open" class="mask" rv-on-click="closeBook">
    <div class="close-book text-white" rv-on-click="closeBook">
        {% partial "jumplink-iconset" name="icon_close" color="text-white" size=32 class="m-2" %}
    </div>
    
    <div rv-hide="currentPageIndex | eq 1" class="prev-page" rv-on-click="prevPage">
        {% partial "jumplink-iconset" name="arrow_carrot_thin" color="text-primary" direction="left" size=32 class="m-2" %}
    </div>
    
    <div rv-hide="book.pages | size | eq currentPageIndex" class="next-page" rv-on-click="nextPage">
        {% partial "jumplink-iconset" name="arrow_carrot_thin" color="text-primary" direction="right" size=32 class="m-2" %}
    </div>

</div>