[viewBag]
==
<div
    
    rv-class="container"
>
    <div class="row">
        <div class="col-12 col-md-6">
            <h2 class="hyphenate text-second" rv-html="headerTitle"></h2>
            <p rv-html="headerText"></p>
        </div>
    </div>

    {# https://getbootstrap.com/docs/4.0/components/card/#card-columns #}
    <div
        rv-if="type | eq 'grid'"
        data-photoswipe-thumbs="true"
        class="grid py-5 card-columns"
    >
        <div
            rv-each-image="images"
            rv-data-index="%image%"
            rv-on-click="onThumbnailsClick"
            class="card"
        >
            <rv-img
                src="image.msrc"
                alt="image.alt"
                width="image.w"
                height="image.h"
                index="%image%"
                ratio="image.ratio"
                visible-only="true"
            ></rv-img>
        </div>
    </div>
    
    {# https://github.com/asvd/dragscroll #}
    <div rv-if="type | eq 'slide_scrollbar'" data-photoswipe-thumbs="true" class="slide_scrollbar row justify-content-center align-items-center flex-nowrap py-5 dragscroll">
        <div
            rv-each-image="images"
            class="col-xs-6 col-sm-5 col-md-4 col-lg-3 col-xl-2"
        >
            <div
                {# rv-singleclick="5" #}
                rv-data-index="%image%"
                rv-data-order="image.index"
                {# tab event comes from https://github.com/benmajor/jQuery-Touch-Events #}
                rv-on-tap="onThumbnailsClick"
            >
                <rv-img
                    src="image.msrc"
                    alt="image.alt"
                    width="image.w"
                    height="image.h"
                    index="%image%"
                    ratio="image.ratio"
                    visible-only="true"
                ></rv-img>
            </div>
            <p class="text-muted small my-3" rv-text="image.title"></p>
        </div>
    </div>
    
    
    <rv-photoswipe images="images"></rv-photoswipe>
</div>