description = "Inhaltsseite ohne Titel"

[staticPage]
useContent = 1
default = 0

[contenteditor]
==
<?php
use Debugbar as Debugbar;

function onSubmitContact() {
    
    Log::info('Used contact form '.post('name'));
    
    $vars = [
        'name' => post('name'),
        'email' => post('email'),
        'phone' => post('phone'),
        'userMessage' => post('message'),
    ];
    
    
    $buildOwnerMessage = function ($message) use ($vars) {
        $message->to($this->theme->email_address, $this->theme->site_name);
    };
    
    $buildSenderMessage = function ($message) use ($vars) {
        $message->to($vars['email'], $vars['name']);
    };

    // Set a shorter timeout for SMTP connection
    $originalTimeout = ini_get('default_socket_timeout');
    ini_set('default_socket_timeout', 5); // 5 seconds timeout
    
    try {
        // mail to site owner
        Mail::send('frontend::contact.notify', $vars, $buildOwnerMessage);
        
        // mail to contact sender
        Mail::send('frontend::contact.notify-copy', $vars, $buildSenderMessage);
        
        ini_set('default_socket_timeout', $originalTimeout);
        Log::info('Contact form mail sent successfully to ' . $vars['email']);
        // Return success message as array for October CMS AJAX response
        return ['result' => "Nachricht abgeschickt"];
    } catch (\Exception $e) {
        ini_set('default_socket_timeout', $originalTimeout);
        Log::error('Contact form mail error: ' . $e->getMessage());
        // AjaxException returns HTTP 406 which October CMS handles as "smart error"
        throw new \Winter\Storm\Exception\AjaxException([
            'X_WINTER_ERROR_MESSAGE' => 'Die E-Mail konnte nicht gesendet werden. Bitte versuchen Sie es später erneut oder kontaktieren Sie uns direkt per Telefon.'
        ]);
    }
}

function onSubmitReservation() {
    
    Log::info('Used reservation form '.post('name'));
    
    $vars = [
        'name' => post('name'),
        'email' => post('email'),
        'phone' => post('phone'),
        'userMessage' => post('message'),
    ];
    
    
    $buildOwnerMessage = function ($message) use ($vars) {
        $message->to($this->theme->email_address, $this->theme->site_name);
    };
    
    $buildSenderMessage = function ($message) use ($vars) {
        $message->to($vars['email'], $vars['name']);
    };

    // Set a shorter timeout for SMTP connection
    $originalTimeout = ini_get('default_socket_timeout');
    ini_set('default_socket_timeout', 5); // 5 seconds timeout
    
    try {
        // mail to site owner
        Mail::send('frontend::reservation.notify', $vars, $buildOwnerMessage);
        
        // mail to contact sender
        Mail::send('frontend::reservation.notify-copy', $vars, $buildSenderMessage);
        
        ini_set('default_socket_timeout', $originalTimeout);
        Log::info('Reservation form mail sent successfully to ' . $vars['email']);
        // Return success message as array for October CMS AJAX response
        return ['result' => "Reservierung abgeschickt"];
    } catch (\Exception $e) {
        ini_set('default_socket_timeout', $originalTimeout);
        Log::error('Reservation form mail error: ' . $e->getMessage());
        // AjaxException returns HTTP 406 which October CMS handles as "smart error"
        throw new \Winter\Storm\Exception\AjaxException([
            'X_WINTER_ERROR_MESSAGE' => 'Die Reservierung konnte nicht gesendet werden. Bitte versuchen Sie es später erneut oder kontaktieren Sie uns direkt per Telefon.'
        ]);
    }
}


function onReguestEvent() {
    
    // get request data
    $input = Input::all();
    
    $vars = [
        'name' =>          isset($input['name']) ? $input['name'] : '',
        'lastname' =>      isset($input['lastname']) ? $input['lastname'] : '',
        'email' =>         isset($input['email']) ? $input['email'] : '',
        'phone' =>         isset($input['phone']) ? $input['phone'] : '',
        'quantity' =>      isset($input['quantity']) ? $input['quantity'] : '',
        'street' =>        isset($input['street']) ? $input['street'] : '',
        'zip' =>           isset($input['zip']) ? $input['zip'] : '',
        'date' =>          isset($input['date']) ? $input['date'] : '',
        'total' =>         isset($input['total']) ? $input['total'] : '',
        'eventID' =>       isset($input['event']['id']) ? $input['event']['id'] : '',
        'eventTitle' =>    isset($input['event']['title']) ? $input['event']['title'] : '',
        'eventSubtitle' => isset($input['event']['subtitle']) ? $input['event']['subtitle'] : '',
        'eventDescription' => isset($input['event']['description']) ? $input['event']['description'] : '',
        'eventCalendar' =>    isset($input['event']['calendar']) ? $input['event']['calendar'] : '',
    ];
    
    // Debugbar::info('[onReguestEvent] $input', $input);
    
    Log::info('Book event, Name:'.$input['name'].' '.$input['lastname'].' E-Mail:'.$input['email'].' Event ID'.$input['event']['id'].' Menge: '.$input['quantity']);
    
    $buildOwnerMessage = function ($message) use ($vars) {
        $message->to($this->theme->email_address, $this->theme->site_name);
    };
    
    $buildSenderMessage = function ($message) use ($vars) {
        $message->to($vars['email'], $vars['name'].' '.$vars['lastname']);
    };
    
    // mail to site owner
    Mail::send('frontend::event.book', $vars, $buildOwnerMessage);
    
    // mail to contact sender
    Mail::send('frontend::event.book-copy', $vars, $buildSenderMessage);
    
    return Response::json($input);
}
?>
==
<!DOCTYPE html>
<html lang="de">
    {% partial 'jumplink-layout-head' %}
    <body id="body-{{ str_studly(this.page.title) | lower | replace({'/':'_'}) }}">    
        {# Content #}
        <div id="layout-content">
        
            <div id="rivets-content-top">
                {% partial 'jumplink-navigation/navbar' %}
            </div>
            
            <div id="barba-wrapper">
                <div {% partial 'jumplink-barba-container-attributes' %}>
                   {% page %}
                </div>
            </div>
            
            <div id="rivets-content-bottom">
                {% partial 'jumplink-footer' %}
                
                {# Tisch reservieren (ab md) #}
                <a
                    rv-fixed-lower-edge="'#main-navbar'"
                    rv-show-on-url="'/'"
                    rv-show-global-modal-on-click='"{"templateName": "tisch-reservieren"}"'
                    class="swing-7deg" style="right: 50px; top: -1000px;  width: 200px; z-index: 1;
                ">
                    <img class="w-100 img-fluid d-none d-md-block" src="{{'assets/images/swing/reservieren.svg' | theme}}" alt="Reservieren Schild" >
                </a>
                
                {# Tisch reservieren (bis sm) #}
                <a
                    rv-absolute-lower-edge="'#home-line hr'"
                    rv-show-on-url="'/'"
                    rv-show-global-modal-on-click='"{"templateName": "tisch-reservieren"}"'
                    class="swing-7deg"
                    style="display: none; right: 50px; top: -1000px; width: 200px; z-index: 1;"
                >
                    <img class="w-100 img-fluid d-block d-md-none" src="{{'assets/images/swing/reservieren.svg' | theme}}" alt="Reservieren Schild" >
                </a>
                
                {# Täglich geöffnet (ab md) #}
                <a
                    rv-fixed-lower-edge="'#main-navbar'"
                    rv-show-on-url="'/speisen'"
                    class="swing-7deg"
                    style="display: none; left: 100px; top: -1000px; width: 200px; z-index: 1;"
                >
                    <img class="w-100 img-fluid d-none d-md-block" src="{{'assets/images/swing/geoeffnet.svg' | theme}}" alt="Täglich geöffnet Schild" >
                </a>
                
                {# Täglich geöffnet (bis sm) #}
                <a
                    rv-absolute-top-edge="'.jumplink-footer .footer-background'"
                    class="swing-7deg"
                    style="display: none; right: 0; top: -1000px; width: 200px; z-index: 1;"
                >
                    <img class="w-100 img-fluid d-block d-md-none" src="{{'assets/images/swing/geoeffnet.svg' | theme}}" alt="Täglich geöffnet Schild" >
                </a>
                
                {# Jeden Tag Frühstücksbugget #}
                <a
                    rv-absolute-lower-edge="'#speisen-line hr'"
                    rv-show-on-url="'/speisen'"
                    rv-show-global-modal-on-click='"{"templateName": "fruestueck"}"'
                    class="swing-7deg"
                    style="display: none; left: 28vw; top: -1000px; width: 200px; z-index: 1;"
                >
                    <img class="w-100 img-fluid" src="{{'assets/images/swing/fruestueck.svg' | theme}}" alt="Jeden Tag Frühstücksbugget Schild" >
                </a>
                
                {# Genuss verschenken #}
                <a
                    rv-absolute-lower-edge="'#location-end hr'"
                    rv-show-on-url="'/location'"
                    rv-show-global-modal-on-click='"{"templateName": "genuss-verschenken"}"'
                    class="swing-7deg"
                    style="display: none; right: 30vw; top: -10000px; width: 200px; z-index: 1;"
                >
                    <img class="w-100 img-fluid" src="{{'assets/images/swing/genuss.svg' | theme}}" alt="Genuss verschenken Schild" >
                </a>
                
                {# Location buchen #}
                <a
                    rv-absolute-top-edge="'.jumplink-footer .footer-background'"
                     rv-show-on-url="'/events'"
                    rv-show-global-modal-on-click='"{"templateName": "location-buchen"}"'
                    class="swing-7deg"
                    style="display: none; left: 100px; top: -1000px; width: 150px; z-index: 1;"
                >
                    <img class="w-100 img-fluid" src="{{'assets/images/swing/location.svg' | theme}}" alt="Location buchen Schild" >
                </a>
                
                {# Speisekarten ansehen #}
                <a
                    rv-absolute-lower-edge="'#contact-line hr'"
                    rv-show-on-url="'/kontakt'"
                    href="{{'kreative-werkstatt' | staticPage}}"
                    class="swing-7deg"
                    style="display: none; left: 30vw; top: -1000px; width: 200px; z-index: 1;"
                >
                    <img class="w-100 img-fluid" src="{{'assets/images/swing/speisekarten.svg' | theme}}" alt="Speisekarten ansehen Schild" >
                </a>
                
                
                
                <global-modal></global-modal>
            </div>
            
        </div>
        
        {% partial 'jumplink-layout-barba-body' %}
    </body>
</html>