[viewBag]

[staticMenu main]
code = "main"
==
<!-- Nav -->


<nav class="fixed-top" id="main-navbar" itemscope itemtype="http://schema.org/SiteNavigationElement">
    <div class="navbar navbar-toggleable-md navbar-background {{navsColorClass}} jumplink-navbar_extend-horizontally">
        
        {% if leftSidebarEnabled %}
            <button class="d-flex navbar-toggler sidebar-toggler left-sidebar-toggler tcon tcon-menu--xcross hidden-print" type="button" data-toggle="sidebar" data-target="#left-sidebar" aria-controls="left-sidebar" aria-expanded="false" aria-label="Toggle Sidebar">
                <span class="tcon-menu__lines" aria-hidden="true"></span>
                <span class="tcon-visuallyhidden">toggle menu</span>
            </button>
        {% endif %}
        
        {# mx-0 Verhindert das sich das Brandling auf Smartphones in die Mitte setzt #}
        <div class="container mx-0 mx-md-auto">
        
            <div class="w-100 hidden-print">
                {% partial 'jumplink-navigation/navbar-items' items=main.menuItems class='hidden-md-down navbar-nav d-flex justify-center-center' itemClass='nav-item' %}
            </div>
            
        </div>

        {% if rightSidebarEnabled %}
            <button class="d-flex navbar-toggler sidebar-toggler right-sidebar-toggler tcon tcon-menu--xcross hidden-print" type="button" data-toggle="sidebar" data-target="#right-sidebar" aria-controls="right-sidebar" aria-expanded="false" aria-label="Toggle Sidebar">
                <span class="tcon-menu__lines" aria-hidden="true"></span>
                <span class="tcon-visuallyhidden">toggle menu</span>
            </button>
        {% endif %}

    </div>
</nav>